html {
    background-color:lightskyblue;
}

.button {
    background-color: white;
    width: 60px;
}

img {
    width: 25%;
}

h1 {
    font-family: 'Times New Roman' ;
}

body {
    font-family: 'Times New Roman';
}